*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
    cursor: default;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0px 0px 0px 2px black;
    display: none;
}

.navbar-main .nav-item{
    padding: 0 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.carousel{
    position: relative;
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height:100%;
    width: 100%;
}
.carousel-foreground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 20%, transparent 100%);
}
.navbar-secondary{
    font-size: large;
}
.navbar-secondary > .navbar-light .navbar-brand {
    color: #fff;
}
.navbar-secondary > .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-secondary .nav-item{
    padding: 0 20px;
}
.navbar-secondary .dropdown-item:hover{
    background-color: rgb(187, 0, 0);
    color: white;
}
.navbar-secondary i{
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem; ;
}
.navbar-secondary i:hover{
    color: rgb(255, 0, 0);
}
.carousel-control-next , .carousel-control-prev{
    height: fit-content;
    margin: auto;
}

.slogan{
    width: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.slogan p{
    text-align: center;
}
.about-us{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0px 50px;
    align-items: center;
}
.about-us img{
    width: 100%;
    height: 300px;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
}
.services-box{
    position: relative;
}
.services img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.services-box-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(200, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: default;
}
.services-box:hover .services-box-text{
    opacity: 1;
}
.work-process-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card{
    position: relative;
}
.card img{
    width: 100%;
    height: 15rem;
}
.card-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px;
    /* display: none; */
}

.card:hover .card-details{
    background-color: rgba(126, 0, 0, 0.8);
}
.card-details p{
    text-align: center;
}